<!DOCTYPE html>
<html>
<head>
    <title>AI Based System for Enhanced Corornary CT Angiography</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="brand-title"><a href="{{ url_for('home') }}">Plaque Classification and Stenosis Detection</a></div>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
          </ul>
    </nav>
    <div class="title_">
        <h1>AI BASED SYSTEM FOR ENHANCED CORONARY CT ANGIOGRAPHY</h1>
    </div>
    <div class="elements">
        <div class="container_about">
            <h1>About</h1>

            <p>
                Plaque classification involves categorizing arterial plaques by composition (calcified, fibrous, or lipid-rich) to assess cardiovascular risk. Stenosis detection identifies narrowed blood vessels due to plaque buildup, crucial for assessing blood flow obstruction and guiding treatment decisions in cardiovascular diseases using imaging techniques like CTA or MRA. These analyses enable clinicians to tailor interventions for optimal patient management and reduce the risk of cardiovascular events.
            </p>
            <h2>Guide</h2>
            <p>
                Name: G. Sridhar sir<br>
                Designation: Asst.Professor<br>
                Email: gsr_333@yahoo.com<br>
            </p>
            <h2>Students Team</h2>
            <ul>
                <li><a href="https://www.linkedin.com/in/ramkumar-somesthree-932263199/" target="_blank">Ramkumar (21VD5A6612)</a></li>
                <li><a href="" target="_blank">Sri Vaishnavi (20VD1A6652)</a></li>
                <li><a href="" target="_blank">Shanmukh (20VD1A6638)</a></li>
                <li><a href="" target="_blank">Divya Sri (20VD1A6613)</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
